.name:before {
    content: '';
    float: left;
    display: block;
    margin-right: 0.8rem;
    height: 1.8rem;
    width: 1.8rem;
    background: url("../../assets/img/login/user.png") no-repeat;
    background-size: 100%
}

.passWord:before {
    content: '';
    float: left;
    display: block;
    margin-right: 0.8rem;
    height: 1.8rem;
    width: 1.8rem;
    background: url("../../assets/img/login/password.png") no-repeat;
    background-size: 100%
}

.text {
    width: 25rem;
    height: 1.88rem;
    font-size: 1.3rem;
    color: #999999;
    border: 0;
    border-bottom: #eeeeee solid 1px;
}
.loginButton {
    width: 19.5rem;
    height: 3rem;
    margin-left: 4.7rem;
    margin-top: 8vh;
    border-radius: 2.5rem;
    box-shadow: 0 5px 20px 5px rgba(255, 0, 0, 0.33);
    background: #fe6861;
    color: #ffffff;
    font-weight: bold;
    border: 0;
    font-size: 1.5rem;
}
.isActive {
    width: 19.5rem;
    height: 3rem;
    margin-left: 4.7rem;
    margin-top: 8vh;
    border-radius: 2.5rem;
    background: #ccc;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 2px 2px darkgray inset;
    font-size: 1.5rem;
}